@CHARSET "UTF-8";

a {
	color: #3F4493
}

body{
	background-image: url("./../Image/bg_FormationJSF.jpg")
}

messages {
	color: "red";
}

[class*="btn"] {
	margin-right: 10px;	
}

#evaluation {
	border-style: none;
	margin-left: 100px
}

#acceuil {
	float: none;
	text-align: center;
}

#evaluation .table-condensed.td {
	border-style: none;
}

.table th, .table td {
	border-style: none
}

#alignedroite {
	text-align: right;
}	

#logo {
	max-width: 336px;
	margin-left: -100px
}

#operation li.dropdown {
	color: #3F4493;	
	}



#titre {

	text-decoration: underline;
	color: #3F4493;
	font-size: x-large;
	font-weight: bold;
	vertical-align: top;
	min-height: 40px;
	text-align: center	
}

#deconnexion {
	margin-left: 10px;
	margin-top: 175px;
}

#deconnexionadmin {
	margin-left: 25px;
	margin-top: 165px;
	font-size: medium
}

#barreNavigation {
	
	margin-left: 0px;
	margin-top: 160px;
}

[class="page-header"] {
	border-style: none;
	padding-bottom: 0px;
	margin-top: 0px;
}

#footer {
	
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px
}

.nav .dropdown-toggle .caret {
	color: White;
	border-top-color: White;
	border-bottom-color: White;
	
}

.dropdown-menu  {
	background-color: #424AC9;
	color: White;
}

[class="dropdown-toggle"] {
	color: White;
}


[class="nav nav-tabs"], [class="nav nav-pills"] {
	background-color: #3F4493;
}